# Copy this file to .env and fill in your actual API key
# NEVER commit the .env file to version control

OPENAI_API_BASEURL=https://api.openai.com/v1
OPENAI_API_KEY=sk-your-actual-api-key-goes-here
EMBED_MODEL=text-embedding-3-small
LLM_MODEL=gpt-4o-mini
LLM_TEMPERATURE=0.1
