AZURE_OPENAI_ENDPOINT_CHAT=https://tung-abcxyz-eastus2.cognitiveservices.azure.com/openai/responses?api-version=2025-04-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME_CHAT=tungtest-gpt-5-mini
AZURE_OPENAI_API_KEY_CHAT=your_key_here
AZURE_OPENAI_ENDPOINT_TTS=https://tung-abcxyz-westus3.cognitiveservices.azure.com/openai/deployments/tts-hd/audio/speech?api-version=2025-03-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME_TTS=tungtest-tts-hd
AZURE_OPENAI_API_KEY_TTS=your_key_here
AZURE_OPENAI_ENDPOINT_IMAGE_FLUX=https://tung-abcxyz-eastus2.services.ai.azure.com/openai/deployments/tungtest-FLUX.1-Kontext-pro/images/generations?api-version=2025-04-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME_IMG_FLUX=tungtest-FLUX.1-Kontext-pro
AZURE_OPENAI_API_KEY_IMG_FLUX=your_key_here
